.*/
node_modules

Gemfile
Gemfile.lock
jekyll.thor
_includes
_layouts
_plugins
_posts
_sass
css
img
js
index.html
gulpfile.js
package.json
feed.xml
_config.yml

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*.diff
*.err
*.lock
*.log
*.map
*.orig
*.rej
*.swn
*.swo
*.swp
*.tmp
._*
*~

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
