---
layout: index
---

<section id="me" class="about" role="main">
  <div class="wrapper">
    <p>My name is Filipe Fernandes and am a dad, husband, front-end developer & founder at <a href="http://chocoladesign.com" target="_blank">Choco la Design</a>. I started working as a designer in 2003 and as front-end in 2005 as a freelancer.</p>

    <p>I provided consultancy to government agencies in Brazil like the Ministry of Health and Supreme Court about front-end architecture and UI design.</p>

    <p>In 2010 I founded Choco la Design. It's a website where my contributors and I talk about design, helping our readers understand more about theory, technique and the market itself sharing our experiences.</p>
  <hr>
  </div>

  {% include work-list.html %}

</section>

{% include social-links.html %}
