/* ==========================================================================
   SOCIAL
   ========================================================================== */

.c-social {
  display: flex;
  justify-content: flex-start;
  padding: size(3) 0;
  margin: 0;
}

.c-social__item {
  list-style: none;
  margin-top: 0;
  margin-right: size(2);
}

.c-social__link {
  fill: white;
}
