/* ==========================================================================
   STEP
   ========================================================================== */

.c-step {
  @include animation(intro, 5);
  padding: size(6) size(3);

  @include media-query(813) {
    padding: size(12);
  }

  @include media-query(1025) {
    min-height: 100vh;
  }

  @include media-query(1367) {
    min-height: auto;
  }
}



.c-step__content {
  @include type-scale(1, 0);
  max-width: rem(1366);

  @include media-query(medium) {
    @include type-scale(3, 0);
  }
}
