<section class="comments-title">
  <div class="row">
    <div class="large-12 columns">
      <h4 class="fi-comments">Deixe um comentário</h4>
    </div>
  </div>
</section>

<section class="comments">
  <div class="row">
    <div class="medium-12 columns">
      <article class="single">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'filipesfgithubio';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </article>
    </div>
  </div>
</section>
