<section class="hero">
  <div class="wrapper">
    <h2 class="hero__title">My name is Filipe Fernandes, UI Engineer at <a href="https://www.theaa.ie/" rel="noopener" title="I'm currently working at The AA Ireland" target="_blank">The AA Ireland</a> and founder at <a href="http://chocoladesign.com" title="Design is like chocolate, makes everything tasty." target="_blank" rel="noopener">Choco la Design</a>. I have <a href="{{ site.linkedin }}" rel="noopener" title="Know more about my experience" target="_blank">10 years work experience</a> and I am living in Dublin.</h2>

    <h3 class="hero__subtitle">I love simplicity. Great ideas, awesome designs, remarkable moments, all those things are based on a simple thought.</h3>
    <hr>
  </div>
</section>
