<section class="hero">
  <div class="wrapper">
    <h2 class="hero__title">My name is Filipe Fernandes am a UI Engineer @ <a href="https://www.theaa.ie/" rel="nofollow" title="I'm currently working at The AA Ireland" target="_blank">The AA Ireland</a>. I have <a href="{{ site.linkedin }}" rel="nofollow" title="Know more about my experience" target="_blank">10 years work experience</a> and living in Dublin.</h2>

    <h3 class="hero__subtitle">I love simplicity. Great ideas, awesome designs, remarkable moments, all those things are based on a simple thought.</h3>
    <hr>
  </div>
</section>
