<section class="social-share">
  <div class="row">
    <div class="small-3 columns">
      <a class="fi-social-twitter" href="http://twitter.com/share?url={{ page.url | prepend: site.url }}&amp;text={{ page.title }}&amp;via=filipesf" title="Compartilhar {{ page.title }} no Twitter" target="_blank"></a>
    </div>

    <div class="small-3 columns">
      <a class="fi-social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend: site.url }}" title="Compartilhar {{ page.title }} no LinkedIn" target="_blank"></a>
    </div>

    <div class="small-3 columns">
      <a class="fi-social-facebook" href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" title="Compartilhar {{ page.title }} no Facebook" target="_blank"></a>
    </div>

    <div class="small-3 columns">
      <a class="fi-social-google-plus" href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" title="Compartilhar {{ page.title }} no Google Plus" target="_blank"></a>
    </div>
  </div>
</section>
