<section id="work" class="featured-work">
    <div class="wrapper">
      <h2 class="featured-work__title">Featured work</h2>

      <div class="work-details">
        <h3 class="work-details__title"><a href="https://inep-styleguide-v1.herokuapp.com/" target="_blank" rel="nofollow">INEP Styleguide v1 <i class="fa fa-external-link"></i></a></h3>
        <span class="work-details__job">Front-end Development</span>
        <p class="work-details__description"><strong>*Can take a while to load*</strong> It is a federal agency that promotes studies, research and periodic reviews of the brazilian educational system, in order to support the formulation and implementation of public policies for education.</p>
      </div>

      <div class="work-details">
        <h3 class="work-details__title"><a href="http://servicedesignsprints.com/" target="_blank" rel="nofollow">Service Design Sprints <i class="fa fa-external-link"></i></a></h3>
        <span class="work-details__job">Front-end Development</span>
        <p class="work-details__description">It is a global open community of service designers and enthusiasts of service design. We certify designers as sprint masters and provide them with the business connections and tools they need to start a practice from scratch, anywhere on the globe.</p>
      </div>

      <div class="work-details">
        <h3 class="work-details__title"><a href="http://www.casaeterra.com/" target="_blank" rel="nofollow">Casa & Terra <i class="fa fa-external-link"></i></a></h3>
        <span class="work-details__job">Front-end Development and Wordpress</span>
        <p class="work-details__description">It is a allotments company with presence in several states of Brazil, who was born from the dream of a group of entrepreneurs, in order to create opportunities for improving the population quality of life.</p>
      </div>

      <div class="work-details">
        <h3 class="work-details__title"><a href="http://flama.me/en" target="_blank" rel="nofollow">Flama Studio <i class="fa fa-external-link"></i></a></h3>
        <span class="work-details__job">Front-end Development</span>
        <p class="work-details__description">We make things happen. Combining design and technology to develop simple and elegant solutions.</p>
      </div>

      <div class="work-details">
        <h3 class="work-details__title"><a href="http://chocoladesign.com/" target="_blank" rel="nofollow">Choco la Design <i class="fa fa-external-link"></i></a></h3>
        <span class="work-details__job">Design, Front-end Development and Wordpress</span>
        <p class="work-details__description">Is a website specializing in content about design and has contributors who bring their technical knowledge and market experience to share with designers, illustrators, advertisers and freelancers.</p>
      </div>

      <p><a class="btn btn--full" href="mailto:me@filipesf.com?subject=Let%E2%80%99s%20work%20together" target="_blank" rel="nofollow">Did you enjoy my work? Hire me!</a></p>
      <hr>
    </div>
</section>
