//=====================================
//
//  PAGE
//
//=====================================



//-------------------------------------
//  #PSEUDOS
//-------------------------------------

*,
*:before,
*:after { @include prefix(box-sizing, border-box); }

::selection {
  background-color: palette(warning, xxlight);
  color: $color-base;
}



//-------------------------------------
//  #BODY
//-------------------------------------

body {
  background-color: $color-white;
  color: $color-base;
}



//-------------------------------------
//  #PARAGRAPH
//-------------------------------------

p { @include font-size($paragraph-font-size); }



//-------------------------------------
//  #LINKS
//-------------------------------------

a { color: $color-primary; }
