//=====================================
//
//  FEATURED
//
//=====================================



.featured-work {
  @include e(title) {
    @include font-size($font-size--huge, 1.2);
    font-weight: $font-weight--bold;

    @include mq(small-only) { @include font-size($font-size--large, 1.2); }

  }
}

.work-details {
  margin-bottom: $base-spacing;

  &:last-child { margin-bottom: 0; }

  @include e(title) {
    @include font-size($font-size--large, 1.2);
    font-weight: $font-weight--medium;
    margin: 0;
  }

  @include e(job) {
    @include font-size($font-size--medium);
    display: block;
    margin-bottom: $base-spacing--half;
  }

  @include e(description) {
    @include font-size($font-size--regular);
    color: palette(smoke, xdark);
    font-style: italic;
  }

}
