//=====================================
//
//  HERO
//
//=====================================



.hero {
  color: $color-primary;

  @include e(title) {
    @include font-size($font-size--giant);

    @include mq(small-only) {
      @include font-size($font-size--huge);
      text-align: center;
      line-height: 1.2;
    }

    font-weight: $font-weight--light;
    line-height: 1.2;
  }

  @include e(subtitle) {
    @include font-size($font-size--large);
    font-weight: $font-weight--light;
    line-height: 1.2;
    margin: 0;
  }

  a {
    color: palette(primary, xdark);

    i { @include font-size($font-size--regular); }
  }
}
