//=====================================
//
//  COMMENTS
//
//=====================================



.comments {
  @include e(title) {
    color: $color-primary;
    font-size: $font-size--huge;
    font-weight: $font-weight--medium;
  }
}
