//=====================================
//
//  PAGE
//
//=====================================



//-------------------------------------
//  #PSEUDOS
//-------------------------------------

*,
*:before,
*:after { box-sizing: border-box; }

::selection {
  background-color: palette(primary, xxlight);
  color: $color-base;
}



//-------------------------------------
//  #HTML
//-------------------------------------

html { height: 100%; }



//-------------------------------------
//  #BODY
//-------------------------------------

body {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
  color: $color-base;
}



//-------------------------------------
//  #RULER
//-------------------------------------

hr {
  border: none;
  border-bottom: 1px solid palette(smoke, xlight);
  margin: $base-spacing--double 0;

  @include mq(small-only) {
    margin: $base-spacing 0;
  }
}



//-------------------------------------
//  #LINKS
//-------------------------------------

a { color: $color-primary; }
