//=====================================
//
//  ROWS
//
//=====================================



@mixin row($extend: false) {
  @if $extend == extend {
    @extend %row;
  }
  @else {
    @include clearfix;
    @include centered;
    margin-bottom: 0;
    margin-top: 0;
    max-width: em($grid-max-width / 2);
    width: 100%;
    & & {
      margin-left: em(-$grid-col-gutter / 2);
      margin-right: em(-$grid-col-gutter / 2);
      width: auto;
    }
  }
}
%row {
  @include row;
}

%row-wide {
  @include row;
  max-width: em($grid-max-width);
}
