/* ==========================================================================
   COLORS
   ========================================================================== */

/// @group Colors
/// @type map
$colors: (
  brand: (
    base: #6741d9,
    dark: #5f3dc4,
    light: #9775fa,
  ),

  gray: (
    000: #f8f9fa,
    100: #f1f3f5,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #adb5bd,
    600: #868e96,
    700: #495057,
    800: #343a40,
    900: #21252a,
  ),
);

/// @group Colors
/// @require {variable} $colors
/// @param {string} $name
/// @param {number} $shade
/// @return {color}
/// @example scss
/// // hero.scss
/// .c-hero {
///  background-color: color(berry, 700);
/// }
///
/// // hero.css
/// .c-hero {
///  background-color: #cc163e;
/// }
@function color($name, $shade: base) {
  @return map-get(map-get($colors, $name), $shade);
}
