<section class="c-profile t-black" id="about">
  {% include
    modules/headline.html
    title="Tell us about yourself"
  %}

  <div class="c-profile__container">
    <article class="c-profile__content">
      <p>I have been working with design and development since 2005 and over the last 10 years I was able to go from Information Architecture, to Visual Design and Frontend Development, specialising myself in User Interface and Interaction Design.</p>
      <p>In 2010 I founded Choco la Design, a website community-driven where I share my experience in order to help designers and developers to better work together and deliver great digital products.</p>
      <p>Throughout my career I had the opportunity to work with companies like Brazil's Ministry of Health and Supreme Court, Bank of Ireland, AnPost and AA Insurance.</p>

      {% include modules/social.html %}
    </article>

    <figure class="c-profile__thumb">
      <img class="c-profile__img" src="/uploads/about/filipe-fernandes.jpg" alt="{{ site.title }} – {{ site.description }}" />
    </figure>
  </div>
</section>
