<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17653388-3"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-17653388-3');</script>

<!-- Service Worker -->
<script>
'serviceWorker' in navigator &&
  navigator.serviceWorker.register('/sw.js')
    .then(registration => registration.active
      ? console.log('👨‍🔧 ServiceWorker active!')
      : console.log('🎉 ServiceWorker registered successfully!'))
    .catch(error =>
      console.log('☠️ Error trying to register ServiceWorker:', error))
</script>
